@import "lincoln.css";
@import "footnotes.css";

/* settings to make page images appear to the left of the text */
div.content { margin-left: 100px; }
p.pageimage, p.pagebreak { margin-left: -75px; clear: left;}
hr.pb { float: right; width: 100%; } 
/* note: this is hard-coded to thumnbnail size, to contain in case image is missing */
img.page { float: left; clear: left; width: 46px; height: 72px;} 