<div class="header">

<img id="head" src="web/images/lincoln_head.gif" width="68" height="82" alt="Lincoln head" />
        <h1>The Martyred President</h1>
        <h2>Sermons Given on the Occasion of the Assassination of Abraham Lincoln</h2>

<p class="links" id="nav">
<a href="index.html">Home</a>
<img src="web/images/star-trans.gif" width="10" height="10" alt="*">
<a href="overview.php">Overview</a>
<img src="web/images/star-trans.gif" width="10" height="10" alt="*">
<a href="searchform.php">Search</a>
<img src="web/images/star-trans.gif" width="10" height="10" alt="*">
<a href="contents.php">Contents</a>
</p>

<p class="links" id="resources">
<a href="http://www.pitts.emory.edu">Pitts Theology Library</a>
<img src="web/images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://web.library.emory.edu/preservation/">Preservation Office</a>
<img src="web/images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://beck.library.emory.edu/">Beck Center</a>
<img src="web/images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://www.emory.edu/libraries.cfm">University Libraries</a>
<img src="web/images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://www.emory.edu/">Emory University</a>
</p>

</div>

<div id="headersearchbox">
<!-- The form is outside the header div to ensure it does not display on the Advanced Search page -->
<form name="keywordsearch" action="search.php" method="get"><p
     class="searchbox"><b>keyword search:</b><input id="key" type="text" size="20" name="keyword"><input id="go" type='submit' size="20" value='Go'></p></form>
</div>