<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
   <title>The Martyred President: {% block pagetitle %} PAGE TITLE {% endblock %} </title>
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/search.css"/>
<link rel="shortcut icon" href="{{ STATIC_URL }}images/lincoln.ico">
</head>

<body>

<div class="header">

<img id="head" src="{{ STATIC_URL }}images/lincoln_head.gif" width="68" height="82" alt="Lincoln head" />
        <h1>The Martyred President</h1>
        <h2>Sermons Given on the Occasion of the Assassination of Abraham Lincoln</h2>

<p class="links" id="nav">
<a href="{% url 'index' %}">Home</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="{% url 'overview' %}">Overview</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="{% url 'search' %}">Search</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="{% url 'contents' %}">Contents</a>
</p>

<p class="links" id="resources">
<a href="http://www.pitts.emory.edu">Pitts Theology Library</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://web.library.emory.edu/preservation/">Preservation Office</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://beck.library.emory.edu/">Beck Center</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://www.emory.edu/libraries.cfm">University Libraries</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://www.emory.edu/">Emory University</a>
</p>

</div>

<div id="headersearchbox">
<!-- The form is outside the header div to ensure it does not display on the Advanced Search page -->
<form name="keywordsearch" action="{% url 'search' %}" method="get"><p
     class="searchbox"><b>keyword search:</b><input id="key" type="text" size="20" name="keyword"><input id="go" type='submit' size="20" value='Go'></p></form>
</div>

{% block content %}
{% endblock %}

<div class="footer">
<center>
<p class="links" id="nav-foot">
<a href="{% url 'index' %}">Home</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="{% url 'overview' %}">Overview</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="{% url 'search' %}">Search</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="{% url 'contents' %}">Contents</a>
</p>

<p class="links" id="res-foot">
<a href="http://www.pitts.emory.edu">Pitts Theology Library</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://web.library.emory.edu/preservation/">Preservation Office</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://beck.library.emory.edu/">Beck Center</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://www.emory.edu/libraries.cfm">University Libraries</a>
<img src="{{ STATIC_URL }}images/star-trans.gif" width="10" height="10" alt="*">
<a href="http://www.emory.edu/">Emory University</a>
</p>
  <p class="links">
  <a href="http://www.tei-c.org/"><img src="http://www.tei-c.org/About/Badges/powered-by-TEI.png" alt="Powered by TEI" border="0"/></a></p>
</center>
</div>

</body>
</html>