{% extends "base.html" %}

{% block pagetitle %} Overview {% endblock %}

{% block content %}
<div class="content">
<div id="overview">

<P>This site contains the full text of 57 sermons published on the occasion of Abraham Lincoln's assassination.  The original copies of the sermons have been drawn from the Pitts Theology Library (Candler School of Theology, Emory University).  Both TIFF images and searchable text files are available.</P>

<P>This site is intended as a research tool for scholars and students interested in Lincoln and in the reaction to his death.  These sermons derive from various geographical regions and represent a variety of theological and denominational perspectives.  The intent of the digitization is to allow scholars and students access to material that is too fragile to be handled in its original form.  OCR and SGML markup have been applied in order to create searchable files that will enable researchers to do textual comparisons of this body of literature that would be difficult to attempt using the original materials.</P>

<P>The collection of sermons was digitized by the Emory University Libraries as a joint project of the Pitts Theology Library, the Beck Center for Electronic Collections and Services and the Preservation Office.</P>

<P>Why are these sermons significant?</P>

<P>During the mid- to late-19<SUP>th</SUP> century, sermons were frequently published.  Thousands were probably delivered and printed in reaction to Lincoln's death.  They may have been individually published or reprinted in newspapers and magazines.  Elizabeth Morgan, Ph.D., argues that sermons served as powerful tools for action and reaction for the public.  Ideas expressed in the pulpit were discussed, argued about and often taken to heart.  Morgan believes that sermons expressed and shaped the mood, behavior and beliefs of a not insubstantial portion of the public.  Given that context, the sermons digitized here provide a view into the rhetoric that was helping to shape thought, action and response to the assassination.</P>

<P>Both sides during the war reported increased religious fervor, including revivals among troops.  Churches supplied a large number of missionaries and chaplains for both sides.  Both believed firmly that God was on their side.  Abraham Lincoln struggled personally with trying to understand the war in religious terms.  Many, including Lincoln, came to see the war as a punishment for disunity and religious failures.</P>

<P>A powerful theme of the sermons is the providence of God.  Many people viewed Lincoln as a martyr, and often he was compared to Moses, Abraham, and George Washington. With the assassination taking place on Good Friday, Lincoln's status as a martyr was insured.   </P>

<P>The battle of Appomattox, representing a decisive victory for the Union forces, took place on Palm Sunday, April 9, 1865.  Abraham Lincoln was shot on Good Friday, April 14, 1865.  He died on Saturday morning.  Because newspapers were not published on Sundays, the news of the assassination would have first been broadcast from the pulpit in churches North and South on Easter Sunday.  </P>

<P>From the pinnacle of victory to the shock of the assassination, the Union states reeled with emotion.  The sermons reflect those emotions as the tale was told in both North and South.  Northern reactions tended toward shock and anger, and many blamed the South for the death.  Those who did not appear to express due mourning, and were believed to be Southern in sympathy, found themselves punished.  Some were even shot.  Southern reaction was mixed and generally muted.  Many people kept their opinions to themselves, with good reason.  Churches and clergy found themselves forced to respond to the national event, but at many churches attendance was low and sermons avoided mentioning the President's assassination.</P>

<P>Although the sermons digitized for this project represent a small selection of those written and presented on the occassion, they represent the diverse sentiments of the time.  The sermons span denominations and affiliations and provide a fascinating look at a time of national turmoil.  </P>

<P>This information has been provided courtesy of Elizabeth Morgan, Ph.D., of the Pitts Theology Library of Emory University.  For more information, Dr. Morgan recommends the following books:</P>

<P>Charles J. Stewart. <i>A Rhetorical Study of the Reaction of the Protestant Pulpit in the North to Lincoln's Assassination.</i> 1963.  Dissertation.</P>

<P>Carolyn L. Harrell. <i>When the Bells Tolled for Lincoln:  Southern Reaction to the Assassination.</i> Macon, GA:  Mercer University Press, 1997.</P>

<hr>
<p><b>Digitizing Information</b></p>

<P>These texts derive from the Special Collections 
of Pitts Theology Library, Emory University, and are produced in 
collaboration with the Lewis H. Beck Center, the Emory 
Preservation Office, and Pitts Theology Library.</P>
<p>TRANSCRIBER: Lewis H. Beck Center and Emory University Preservation Office.
<br>PRODUCER:  BookLab, Inc., 1606 Headway Circle, Suite 100, Austin, TX 78754
<br>CAPTURE DEVICE: XEROX DocuImage 620S flatbed scanner
<br>CAPTURE DETAILS: Scanner software: XEROX ScanTool version 4.2.3; no gamma correction; images are all bitonal.
<br>CHANGE HISTORY: Using the Adobe Photoshop Batch Processor, we interpolated  the original TIFF files to 8-bit grays, and altered the resolution to 144 dpi, producing screen images twice the original size.  We then saved them in JPEG format.  We produced GIF thumbnails from the JPEG files.
<br>RESOLUTION: 600 ppi
<br>COMPRESSION: Resolution 144 per inch with Constrain Properties to 72 per inch.
<br>SOURCE: Original documents.</p>

<hr>
<p><b>Site Architecture</b></p>

<p>Scott Ellis, graduate assistant, under the supervision of Alice
Hickcox, Electronic Text Specialist originally encoded the texts in
SGML, using the Text Encoding Initiative (TEI) guidelines. Scott was
also responsible for the production of the JPEG images that are used on
the site, based on the tiff images received from Book Lab.</p>

<p>Julia Leon, Senior Developer/Analyst for Academic Technology
Services/AAIT provided programming for the original sgml-based site,
using output from the OpenText search engine, PAT.</p>

<p>Tavishi Bhasin, Woodruff Library Graduate Fellow (2004-05), and
Rebecca Sutton Koeser, Graduate Analyst, programmed and produced the
xml version of the site.</p>

<p>Jason Lemon, graduate assistant, created the original web site design,
and Tavishi and Rebecca adapted that design for the xml-based site.</p>

<p>The data is currently loaded in eXist database software.</p>

</div>
</div>

{% endblock %}